.App {
  text-align: center;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: green;
}

.rectangle{
  position: absolute;
  left: 50%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 6rem;
  background: orange;
}







